#popUpMenu {
  position:relative;
  z-index: 999;
  border: 2px solid black;
  background-color: #F90;
}

#popUpMenu ul {
  margin: 0;
  padding: 0;
}

.popUpItem {
  margin: 0;
  padding: 0 0 0 5px;
}

.popUpItem:hover {
  background-color: blue;
  color: white;
}

.highlighted {
  background-color: #3CE;
}

#popCtrlWin {
  position: fixed;
  z-index: 998;
  top: 75px;
  left: 650px;
  padding: 0 0 5px 5px;
  border: 2px solid black;
  background-color: #FFEBDE;
  color: black;
  width: 120px;
}